@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 1,
        'wght' 700,
        'GRAD' 200,
        'opsz' 48
}

* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: 'Muli', sans-serif;
}

#a {
    background: #EAFBFF;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transform: translateY(-50%);
}

#b {
    background: #5290F9;
    height: 50%;
    width: 100%;
    position: absolute;
    z-index: -1;
    transform: translateY(50%);
}

nav {
    padding: 1.5rem 1.5rem;
    background: white;
    display: flex;
    gap: 0.5rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.295);
    border-radius: 3px;
    width: 250px;
    transition: 2s;
}

.inner {
    display: flex;
    gap: 0.5rem;
    transition: 2s ease;
}

span {
    cursor: pointer;
    transition: 2s;
}

i {
    display: inline;
    float: right;
}

.none {
    transform: translate(200px) rotateY(900deg);
    cursor: default;
    height: 0;
    opacity: 0;
}

.small {
    width: 0;
}