* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    color: white;
    background: #686DE0;
}

h2 {
    font-weight: 700;
    font-size: 19px;
    color: #69696991;
}

p {
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    color: #000000;
}

input {
    all: unset;
    padding: 0.8rem 2.5rem;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
    background: #9F68F3;
    font-family: Arial;
    cursor: pointer;
}

input:active {
    transform: scale(98%);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 3rem;
    background: white;
    padding: 3rem;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.24);
    max-width: 650px;
    border-radius: 9px;
    margin: 0rem 1.1rem;
}